@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  font-family: "Gothic A1";
}

/* 스크롤바 숨기면서 스크롤링 기능은 허용 */
html {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* 자주 쓰는 스타일 조합 정의 */
.flex-center {
  @apply flex justify-center items-center;
}
